<form id="query-form" class="form" method="GET">
    <div class="form-group">
        <label>
            <i class="fa fa-clock-o"></i> 时间
        </label>
        <input class="form-control" type="text" name="time" placeholder="hh:mm:ss-hh:mm:ss" value="{{.Query.TimeFormatted}}" />
    </div>
    <div class="form-group">
        <label>
            <i class="fa fa-id-card"></i> 相关性 ID
        </label>
        <input class="form-control" type="text" name="crid" placeholder="CRID" value="{{.Query.Crid}}" />
    </div>
    <div class="form-group">
        <label>
            <i class="fa fa-dashboard"></i> 环境
        </label>
        <input class="form-control" type="text" name="env" placeholder="环境，如 prod" value="{{.Query.Env}}" />
    </div>
    <div class="form-group">
        <label>
            <i class="fa fa-cubes"></i> 项目
        </label>
        <input class="form-control" type="text" name="project" placeholder="项目，如 sma" value="{{.Query.Project}}" />
    </div>
    <div class="form-group">
        <label>
            <i class="fa fa-compass"></i> 主题
        </label>
        <input class="form-control" type="text" name="topic" placeholder="主题，如 access" value="{{.Query.Topic}}" />
    </div>
    <div class="form-group">
        <label>
            <i class="fa fa-server"></i> 主机名
        </label>
        <input class="form-control" type="text" name="hostname" placeholder="主机名，如 xlog.01" value="{{.Query.Hostname}}" />
    </div>
    <button class="btn btn-block btn-success" type="submit">
        <i class="fa fa-search"></i> 搜索</button>
    <span style="margin-bottom: 0;" class="help-block text-right">{{len .Results}}条结果</span>
</form>