<div class="row">
    <div class="col-md-12 log-entry">
        <span class="log-meta">
            <i class="fa fa-clock-o"></i>
            <span>{{ .Time }}</span>
        </span>
        <span class="log-meta">
            <i class="fa fa-id-card"></i>
            <span>{{ .Crid }}</span>
        </span>
        <span class="log-meta">
            <i class="fa fa-dashboard"></i>
            <span>{{ .Env }}</span>
        </span>
        <span class="log-meta">
            <i class="fa fa-cubes"></i>
            <span>{{ .Project }}</span>
        </span>
        <span class="log-meta">
            <i class="fa fa-compass"></i>
            <span>{{ .Topic }}</span>
        </span>
        <span class="log-meta">
            <i class="fa fa-server"></i>
            <span>{{ .Hostname }}</span>
        </span>
        </p>
        <pre><span>{{ .Message }}</span></pre>
    </div>
</div>