<!DOCTYPE html>
<html>

<head>
    <title>{{.CollectionDate}}</title>
    <meta charset="UTF-8">
    <meta name="canonical-date" content="{{.CollectionDate}}" />
    <meta name="canonical-query" content="{{.Query.Encode}}" />
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body {
            padding-top: 56px;
            font-size: 0.9rem;
        }

        pre {
            font-size: 0.8rem;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
        }

        .form-control {
            background-color: #ededed;
        }

        .form-control.is-valid {
            background-color: white;
            border-width: 2px;
        }

        span.log-meta {
            margin-right: 0.5rem;
            font-family: monospace;
        }

        div.log-entry {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        div.result-meta {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .container-fluid>div:nth-child(2n+1) {
            background-color: #ededed;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-primary bg-light fixed-top">
        <a href="#" id="date-selector" class="navbar-brand" data-date="{{.CollectionDate}}">
            <i class="fa fa-calendar"></i>&nbsp;{{.CollectionDate}}
        </a>
        <form class="form-inline" method="GET">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
                <input style="width: 10rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.TimeFormatted}}is-valid{{end}}" type="text"
                    name="time" placeholder="hh:mm:ss-hh:mm:ss" value="{{.Query.TimeFormatted}}" />
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fa fa-id-card"></i>
                    </div>
                </div>
                <input style="width: 6rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.Crid}}is-valid{{end}}" type="text" name="crid"
                    placeholder="CRID" value="{{.Query.Crid}}" />
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fa fa-dashboard"></i>
                    </div>
                </div>
                <input style="width: 6rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.Env}}is-valid{{end}}" type="text" name="env"
                    placeholder="环境" value="{{.Query.Env}}" />
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fa fa-cubes"></i>
                    </div>
                </div>
                <input style="width: 6rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.Project}}is-valid{{end}}" type="text"
                    name="project" placeholder="项目" value="{{.Query.Project}}" />
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fa fa-compass"></i>
                    </div>
                </div>
                <input style="width: 6rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.Topic}}is-valid{{end}}" type="text" name="topic"
                    placeholder="主题" value="{{.Query.Topic}}" />
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fa fa-server"></i>
                    </div>
                </div>
                <input style="width: 6rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.Hostname}}is-valid{{end}}" type="text"
                    name="hostname" placeholder="服务器" value="{{.Query.Hostname}}" />
            </div>

            <button class="btn btn-success btn-sm my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="container-fluid">
        {{ if .Results }}
        <div class="row text-center">
            <div class="col result-meta">
                今日共 {{.CollectionTotalCount}} 条记录，查询到 {{.QueryCount}} 条，列出 {{len .Results}} 条
            </div>
            <hr />
        </div>
        {{ range .Results }}
        <div class="row">
            <div class="col log-entry">
                <span class="log-meta">
                    <i class="fa fa-clock-o"></i>&nbsp;{{ .Time }}
                </span>
                <span class="log-meta">
                    <i class="fa fa-id-card"></i>&nbsp;{{ .Crid }}
                </span>
                <span class="log-meta">
                    <i class="fa fa-dashboard"></i>&nbsp;{{ .Env }}
                </span>
                <span class="log-meta">
                    <i class="fa fa-cubes"></i>&nbsp;{{ .Project }}
                </span>
                <span class="log-meta">
                    <i class="fa fa-compass"></i>&nbsp;{{ .Topic }}
                </span>
                <span class="log-meta">
                    <i class="fa fa-server"></i>&nbsp;{{ .Hostname }}
                </span>
                </p>
                <pre><code>{{ .Message }}</code></pre>
            </div>
            <hr />
        </div>
        {{ end }} {{ else }}
        <div class="row text-center">
            <div class="col result-meta">
                今日共 {{.CollectionTotalCount}} 条记录，没有查询到符合条件的记录
            </div>
        </div>
        {{ end }}
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.zh-CN.min.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#date-selector").datepicker({
                format: 'yyyy-mm-dd',
                language: "zh-CN",
                todayHighlight: true,
                todayBtn: true,
            }).on("changeDate", function (e) {
                window.location = "/collections/" + e.format(0) + "?" + $('meta[name="canonical-query"]').attr("content")
            });
        })
    </script>
</body>

</html>