<!DOCTYPE html>
<html>

<head>
    <title>{{.CollectionDate}}</title>
    <meta charset="UTF-8">
    <meta name="canonical-date" content="{{.CollectionDate}}" />
    <meta name="canonical-query" content="{{.Query.Encode}}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"
        integrity="sha256-JDBcnYeV19J14isGd3EtnsCQK05d8PczJ5+fvEvBJvI=" crossorigin="anonymous" />
    <style>
        body {
            padding-top: 56px;
            font-size: 0.8rem;
        }

        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
        }

        .form-control {
            background-color: #ededed;
        }

        .form-control.is-valid {
            background-color: white;
            border-width: 2px;
        }

        span.log-meta {
            margin-right: 0.6rem;
        }

        div.log-entry {
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
        }

        div.result-meta {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .container-fluid>div:nth-child(2n+1) {
            background-color: #ededed;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-primary bg-light fixed-top">
        <a href="#" id="date-selector" class="navbar-brand" data-date="{{.CollectionDate}}">
            <i class="fas fa-calendar-alt"></i>&nbsp;{{.CollectionDate}}
        </a>
        <form class="form-inline" method="GET">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fas fa-clock"></i>
                    </div>
                </div>
                <input style="width: 10rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.TimeFormatted}}is-valid{{end}}" type="text"
                    name="time" placeholder="hh:mm:ss-hh:mm:ss" value="{{.Query.TimeFormatted}}" />
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fas fa-id-card"></i>
                    </div>
                </div>
                <input style="width: 6rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.Crid}}is-valid{{end}}" type="text" name="crid"
                    placeholder="CRID" value="{{.Query.Crid}}" />
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fas fa-bookmark"></i>
                    </div>
                </div>
                <input style="width: 6rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.Env}}is-valid{{end}}" type="text" name="env"
                    placeholder="环境" value="{{.Query.Env}}" />
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                </div>
                <input style="width: 6rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.Project}}is-valid{{end}}" type="text"
                    name="project" placeholder="项目" value="{{.Query.Project}}" />
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fas fa-folder-open"></i>
                    </div>
                </div>
                <input style="width: 6rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.Topic}}is-valid{{end}}" type="text" name="topic"
                    placeholder="主题" value="{{.Query.Topic}}" />
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text form-control-sm">
                        <i class="fas fa-server"></i>
                    </div>
                </div>
                <input style="width: 6rem;" class="form-control form-control-sm mr-sm-2 {{if .Query.Hostname}}is-valid{{end}}" type="text"
                    name="hostname" placeholder="服务器" value="{{.Query.Hostname}}" />
            </div>

            <button class="btn btn-success btn-sm my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="container-fluid">
        {{ if .Results }}
        <div class="row text-center">
            <div class="col result-meta">
                今日共 {{.CollectionTotalCount}} 条记录，查询到 {{.QueryCount}} 条符合条件的记录
            </div>
            <hr />
        </div>
        {{ range .Results }}
        <div class="row">
            <div class="col log-entry">
                <span class="log-meta">
                    <i class="fas fa-clock"></i>&nbsp;
                    <b>{{ .Time }}</b>
                </span>
                <span class="log-meta">
                    <i class="fas fa-id-card"></i>&nbsp;{{ .Crid }}&nbsp;
                </span>
                <span class="log-meta">
                    <i class="fas fa-bookmark"></i>&nbsp;{{ .Env }}&nbsp;
                </span>
                <span class="log-meta">
                    <i class="fas fa-tachometer-alt"></i>&nbsp;{{ .Project }}&nbsp;
                </span>
                <span class="log-meta">
                    <i class="fas fa-folder-open"></i>&nbsp;{{ .Topic }}&nbsp;
                </span>
                <span class="log-meta">
                    <i class="fas fa-server"></i>&nbsp;{{ .Hostname }}&nbsp;
                </span>
                </p>
                <pre><code>{{ .Message }}</code></pre>
            </div>
            <hr />
        </div>
        {{ end }} {{ else }}
        <tr>
            <td class="text-center result-meta">
                今日共 {{.CollectionTotalCount}} 条记录，没有查询到符合条件的记录
            </td>
        </tr>
        {{ end }}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha256-IeI0loa35pfuDxqZbGhQUiZmD2Cywv1/bdqiypGW46o="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.zh-CN.min.js"
        integrity="sha256-TWeu6bCkUfGPvdsbuXV9bNClNqZBR/WVdA6K8KFVSQA=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#date-selector").datepicker({
                format: 'yyyy-mm-dd',
                language: "zh-CN",
                todayHighlight: true,
                todayBtn: true,
            }).on("changeDate", function (e) {
                window.location = "/collections/" + e.format(0) + "?" + $('meta[name="canonical-query"]').attr("content")
            });
        })
    </script>
</body>

</html>